/assets

/custom/dist
/custom/node_modules
/custom/config.ts

/data

/template-parts/bottom-hero.php
/template-parts/brands.php
/template-parts/call-to-action.php
/template-parts/company-description.php
/template-parts/contact-info.php
/template-parts/featured-services.php
/template-parts/food-brands.php
/template-parts/image-slider.php
/template-parts/instagram-feed.php
/template-parts/map.php
/template-parts/our-staff.php
/template-parts/our-values.php
/template-parts/testimonials.php
/template-parts/top-hero.php
/template-parts/wapp-call-to-action.php
/template-parts/whatsapp-link.php
/template-parts/why-us.php

404.php
about.php
archive.php
blog.php
comments.php
footer.php
index.php
page-contact.php
page.php
pet-hotel.php
search.php
single.php
style.css
style.css.map
test.php
woocomerce.php

/scss/_blog.scss
/scss/_call-to-action-wapp.scss
/scss/_call-to-action.scss
/scss/_events-grid.scss
/scss/_featured-services.scss
/scss/_food-brands.scss
/scss/_image-slider.scss
/scss/_our-values.scss
/scss/_pagination.scss
/scss/_product-categories.scss
/scss/_product-grid.scss
/scss/_search-results.scss
/scss/_services-page.scss
/scss/_staff-grid.scss
/scss/_testimonials.scss
/scss/_top.scss